Binaries
DerivedDataCache
Intermediate
Saved
Content/PhotoR_Backgrounds
Content/PN_OpenWorldFoliage
Content/PN_Pandanus
Content/01_Marry
Content/Test
.vscode
.vs
*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.xcodeproj
*.xcworkspace
